<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Amadon</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h3>Amadon Store!</h3>
        <table>
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{item.name}}</td>
                    <td>{{items.price}}</td>
                    <td>
                        <form class="" action="/buy/{{item.id}}" method="post">
                            {% csrf_token%}
                            <select class="" name="quantity">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                            <button type="submit">Buy!</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
