* {
	padding: 0;
	margin: 0;
}
#wrapper{
    margin: 10px 0px 0px 10px;
}

.box {
    display: inline-block;
    border:  solid;
	padding: 10px;
	text-align: center;
}

#log{
    display: inline-block;
    border: solid;
	padding: 10px;
	width: 200px;
	height: 200px;
    margin-top: 10px;
}
